.place-form {
    list-style: none;
    margin: 0 auto;
    padding: 1rem;
    width: 90%;
    max-width: 40rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    border-radius: 6px;
    background: white;
  }

  .place-form button{
    background-color: rgb(230, 36, 10);
    color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    border-radius: 6px;
  }